

<nav class="navbar">
    <div class="navbar-container">
        <a href="#" class="navbar-logo">
            <img src="images/dedy.jpg" alt="Profile Picture" class="profile-picture">
        </a>
        <ul class="navbar-menu">
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="/contact" class="nav-link">Contact</a></li>
            <li><a href="/todo" class="nav-link ">Todo</a></li>
            
        </ul>
        <ul class="navbar-signout">
            <li><a href="/login" class="nav-link">
                    <i class="fas fa-sign-out-alt"></i> Sign Out
                </a>
            </li>
        </ul>
    </div>
</nav>


<div class="hero">
    <h1 class="hero-title">Selamat Datang, Manusia!</h1>
    <p class="hero-description">Website ini dirancang oleh Muhammad Farras Mas'ud 20220140036</p>
    <a href="/contact" class="hero-btn">Go to Contact Page</a>
</div>


<div class="features">
    <div class="feature">
        <img src="images/weton.jpg" alt="Welcome" class="feature-img">
        <h3>Fitur Utama</h3>
        <p>Bisa melakukan perkiraan jodoh</p>
    </div>
    <div class="feature">
        <img src="images/todo.png" alt="Todo List" class="feature-img">
        <h3>Todo List</h3>
        <p>Todo list untuk menambah data yang anda ingin kan</p>
    </div>
    <div class="feature">
        <img src="images/wa.png" alt="Contact" class="feature-img">
        <h3>Hubungi Kami</h3>
        <p>Butuh bantuan? Hubungi kami kapan saja melalui halaman kontak.</p>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>© Copyright 2024 Farras.</p>
    </div>
</footer>


