
<div class="login-container">
    <div class="login-box">
        <!-- Path ke logo -->
        <img src="/images/dedy.jpg" alt="Logo" class="logo">
        <h1 class="title">Signup</h1>
        <p class="subtitle">Welcome to the jungle</p>
        <form action="/signup" method="POST">
            <input type="text" name="username" placeholder="Username" class="form-input" required>
            <input type="password" name="password" placeholder="Password" class="form-input" required>
            <p class="help-text">Lorem ipsum dolor? <a href="#">Lorem ipsum</a></p>
            <button type="submit" class="btn">Login</button>
            <p>belum punya akun? Daftar <a href="/login">login</a>.</p>
        </form>
    </div>
</div>
